body
{
    background-color: white;
    margin: 0;
    padding: 0;
}
.inicio
{
    background-image: url(../imagen/FondoPrincipal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 18%;
    font-size: x-large;
}

.texto
{
    margin-top: 18%;
    padding-right: 1em;
}

.t1
{
    font-size: 250%;
}